.DivPokemon{
    background-color: rgb(255, 255, 255);
    min-height: 75vh;
    height: auto;
    width: 90vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.DivContent{
height: auto;
width: 100%;
display:flex;
justify-content: st;
align-items: center;
flex-direction: column;
padding: 0;
margin: 20px 0;
gap: 30px;

}
.DivBuscador{
height: 8%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 25px;


}

.container_btn_load_more_container{

    width:100%;
    height: auto;
    margin: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   

}


.btn_load_more{
    height: 3rem;
    min-width: 20%;
    width: 120px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-family: "Flexo-Demi",arial,sans-serif;
    margin: 1.5625%;
    
    }
    .btn_load_more:hover{
        transform: scale(1.25);
        transition:2s;
        
    }

    
